.main-table {
  border-collapse: collapse;
}

.table-header {
  border: 2px solid #d6d8da;
  border-top: 0;
  padding: 5px;
  font-weight: 600;
}

.table-header:first-child {
  border-left: 0;
}

.table-header:last-child {
  border-right: 0;
}
